<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Frontend Mentor | E-commerce product page</title>
</head>

<body>
  <div class="container">
    <div class="dark-background" id="dark-bgd"></div>
    <header class="header">
      <div class="header__left-side">
        <div class="hamburger" id="open-nav-btn"></div>
        <a href="#" class="logo-link"><div class="logo"></div></a>
        <nav class="nav" id="navigation">
          <div class="nav__close-icon" id="close-nav-btn"></div>
          <ul class="nav__list">
            <li class="nav__list-element"><a href="#" class="nav__list-link">Collections</a></li>
            <li class="nav__list-element"><a href="#" class="nav__list-link">Men</a></li>
            <li class="nav__list-element"><a href="#" class="nav__list-link">Women</a></li>
            <li class="nav__list-element"><a href="#" class="nav__list-link">About</a></li>
            <li class="nav__list-element"><a href="#" class="nav__list-link">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__right-side">
        <div class="cart-icon" id="cart-icon">
          <div class="cart-icon-number" id="cart-icon-number"></div>
        </div>
        <div class="avatar"></div>
      </div>
    </header>
    <div class="cart" id="cart-component">
      <p class="cart__title">Cart</p>
      <div class="cart__container" id="cart-container">
        <p class="info info--active" id="cart-info">Your cart is empty.</p>
      </div>
      <div class="element" id="cart-element">
        <button class="cart__button" id="cart-btn">Checkout</button>
      </div>
    </div>

    <main class="offer">
      <section class="gallery" id="gallery">
        <div class="gallery-desktop">
          <img src="images/image-product-1.jpg" alt="product image" class="gallery-desktop__main">
          <div class="gallery-desktop__carousel">
            <img src="images/image-product-1-thumbnail.jpg" alt="product image"
              class="gallery-desktop__carousel-element gallery-desktop__carousel-element--active" data-id="1">
            <img src="images/image-product-2-thumbnail.jpg" alt="product image"
              class="gallery-desktop__carousel-element" data-id="2">
            <img src="images/image-product-3-thumbnail.jpg" alt="product image"
              class="gallery-desktop__carousel-element" data-id="3">
            <img src="images/image-product-4-thumbnail.jpg" alt="product image"
              class="gallery-desktop__carousel-element" data-id="4">
          </div>
        </div>
        <div class="gallery-lightbox" id="lightbox-container">
          <div class="gallery-lightbox__close-icon" id="lightbox-close-icon"></div>
          <div class="gallery-lightbox__main">
            <div class="gallery-lightbox__left-arrow" id="lightbox-left-arrow"></div>
            <img src="images/image-product-1.jpg" alt="product image" class="gallery-lightbox__main-img"
              id="lightbox-main-img">
            <div class="gallery-lightbox__right-arrow" id="lightbox-right-arrow"></div>
          </div>
          <div class="gallery-lightbox__carousel">
            <img src="images/image-product-1-thumbnail.jpg" alt="product image"
              class="gallery-lightbox__carousel-element" data-id="1">
            <img src="images/image-product-2-thumbnail.jpg" alt="product image"
              class="gallery-lightbox__carousel-element" data-id="2">
            <img src="images/image-product-3-thumbnail.jpg" alt="product image"
              class="gallery-lightbox__carousel-element" data-id="3">
            <img src="images/image-product-4-thumbnail.jpg" alt="product image"
              class="gallery-lightbox__carousel-element" data-id="4">
          </div>
        </div>
      </section>
      <section class="slider-mobile" id="slider-mobile">
        <div class="slider-mobile__left-arrow" id="mobile-left-arrow"></div>
        <div class="slider-mobile__right-arrow" id="mobile-right-arrow"></div>
      </section>
      <section class="details">
        <h1 class="details__company-name">Sneaker Company</h1>
        <h2 class="details__model-name" id="product-name">Fall Limited Edition Sneakers</h2>
        <p class="details__description">These low-profile sneakers are your perfect casual wear companion. Featuring a
          durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
        <div class="details__price">
          <div class="price__current">
            <p class="price__current-value" id="current-price">$125.00</p>
            <p class="price__current-discount">50%</p>
          </div>
          <p class="price__previous">$250.00</p>
        </div>
        <div class="details__buy">
          <div class="counter">
            <div class="counter__remove" id="quantity-remove"></div>
            <div class="counter__quantity" id="quantity-counter">0</div>
            <div class="counter__add" id="quantity-add"></div>
          </div>
          <button class="add-button" id="add-to-cart">
            <div class="add-button__icon"></div>Add to cart
          </button>
        </div>
      </section>
    </main>
  </div>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/MobbySchiller">Krzysztof Burzyński</a>.
  </div>
</body>

</html>